<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Todos</a>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          
        </ul>
      </div>
    </nav>

     <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2">
           <!-- <todos></todos>  -->
           <router-outlet></router-outlet>
        </div>
      </div>
    </div> 
    <!-- <index></index> -->
